.statusWrapper
  position: relative
  & input,
  & span
    display: block
    padding: 5px 15px
    width: 100%
    min-height: 20px
    margin-top: 10px
  & span
    border: 1px solid #fff
    color: #fff
    cursor: pointer
  & input
    border: 1px solid blue
    color: blue
