.chat {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.chatWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.chatAddNew textarea {
  resize: none;
  height: 200px;
  margin-bottom: 10px;
}