.inputWrapper
  margin-bottom: 3px
  & input,
  & textarea
    border: 1px solid var(--color4)
    transition: .2s
  & .errorMessage
    display: none
  &:global(.hasError)
    & input,
    & textarea
      border-color: red
      transition: .2s
    & .errorMessage
      display: block
      color: red
      
.submitError
  border: 2px solid red
  color: red
  padding: 10px
