.massage {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px;
  padding: 20px 15px;
  border-radius: 16px;
  border: 1px solid grey;
}
.massage img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  background: hotpink;
}
